.MessageField {
    height: 90%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}
.chatField {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 0 20px;
    box-sizing: border-box;
}