.MessageComponent {
    width: 55%;
    padding: 10px 20px;
    border-radius: 10px;
    border: thin solid #20baaa;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}
.sender {
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
}
.selfMessage {
    align-self: flex-end;
    border: thin solid #18988b;
}
.close {
    color: #065032;
    cursor: pointer;
}