.Header {
    width: 100%;
    padding: 0 20px;
    margin-bottom: 20px;
    border: 1px solid #eee;
    border-radius: 5px;
    box-sizing: border-box;
    color: #065032;
    display: flex;
    justify-content: space-between;
}
.profileLink, .profileIcon {
    display: flex;
    align-items: center;
    color: #333;
    text-decoration: none;
    cursor: pointer;
}